<html>

<body>
    <div class="wrapper" style="
        background-color:#008000; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius:10px;
        padding: 20px;">
        {{>email/text}}
        {{>email/reset-button}}
    </div>

</body>

</html>