<div class="logo-mail">
    <img class="logo" src="https://i1.wp.com/janikowonasportowo.pl/wp-content/uploads/2015/03/2.png" style="
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    " alt="" srcset="">
</div>