<a href="{{redirectHost}}/{{token}}" style="width: 200px;
        height: 50px;
        background-color:white;
        text-align:center;
        line-height: 50px;
        color: black;
        border-radius:10px;
        text-decoration: none;
        display: block;
        margin-top:30px;
        margin-left: auto;
        margin-right: auto;">
        Resetuj Hasło
</a>