<p style="
    text-align:justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    color:white;
">Cześć {{name}}, ktoś podał twój email do formularza resetu hasła. <b>Jeśli to nie ty zignoruj tą wiadomość</b>,
    natomiast
    jeśli to ty kliknij przycisk poniżej i zmień hasło. <b>[WIADOMOŚĆ ZOSTAŁA WYGENEROWANA AUTOMATYCZNIE NIE OPOWIDAJ NA
        NIĄ]<b></<p>